/* Base Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.search-container {
    margin: 20px;
    text-align: center;
}

.search-container input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.search-container input:focus {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    transform: scale(1.05);
}

#genres, #authors {
    margin: 20px auto;
    width: 90%;
    text-align: center;
}

#genres h2, #authors h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.genre-list, .author-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.genre-btn, .author {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.genre-btn:hover, .author:hover {
    background-color: #555;
    transform: scale(1.05);
}

#book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

/* Book Card Flipping Animation */
.book {
    perspective: 1000px;
    margin: 10px;
}

.book-inner {
    position: relative;
    width: 200px;
    height: 250px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.book:hover .book-inner {
    transform: rotateY(180deg);
}

.book-front, .book-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.book-front {
    z-index: 2;
}

.book-back {
    transform: rotateY(180deg);
}

/* Responsive Design */
@media (max-width: 600px) {
    .book {
        width: 90%;
    }
}
